<div class="home">

  <div>
  	<p><img alt="pic" style="width:180px;float:right;margin-left:20px;margin-right:20px;" src="/assets/img/me.png"> I am a Postdoctoral Research Fellow with the <a href="http://www.edpolicy.umich.edu/">Education Policy Initiative</a> at <a href="https://fordschool.umich.edu/">Gerald R. Ford School of Public Policy</a>, <a href="https://umich.edu/">University of Michigan</a>. My research interests are in the economics of education, health economics, and development economics. For more information on my research, please click <a href="https://tareena.github.io/research/">here</a>.</p>
 
 <p> Prior to joining EPI, I was a Graduate Research Assistant at <a href="https://gpl.gsu.edu/">Georgia Policy Labs</a>. I received my PhD in Economics from <a href="https://aysps.gsu.edu/economics/">Georgia State University</a>. I completed MSc in Finance and Economics from <a href="https://warwick.ac.uk/">University of Warwick</a> and BSc (Hons.) in Economics from <a href="https://lums.edu.pk/">Lahore University of Mananagement Sciences</a>.</p>

<p> My CV is available <a href="/files/cv.pdf">here</a>.</p>
</div>
</div>
