<div class="home">

  <div>
  	<p><img alt="pic" style="width:180px;float:right;margin-left:20px;margin-right:20px;" src="/assets/img/me.png">      I am a PhD candidate in Economics at <a href="https://www.gsu.edu/">Georgia State University</a>. My research interests are in the economics of education, health economics, and development economics. In particular, I am interested in the intersection of education and health, and how investments in one effect the other. My dissertation focuses on how primary and secondary education for girls in Pakistan impacts their later life outcomes as well as human capital of their next generation. I am advised by Prof. <a href="https://aysps.gsu.edu/profile/tom-mroz-2/">Thomas Mroz</a>.</p>
 
 <p> I currently work as a Graduate Research Assistant at <a href="https://gpl.gsu.edu/">Georgia Policy Labs</a>. Prior to joining Georgia State, I did my BSc (Hons) in Economics from <a href="https://lums.edu.pk/">Lahore University of Mananagement Sciences</a> and MSc in Finance and Economics from <a href="https://warwick.ac.uk/">University of Warwick</a>.</p>

<p> I will graduate in the summer of 2020 and am currently on the 2019-2020 job market. I will be available for interviews at the January 2020 American Economics Association (AEA) Annual Meeting. Please click here for my <a href="/files/cv.pdf">CV</a> and <a href="/files/jmp.pdf">job market paper</a></p>.
</div>
</div>
