
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <span class="exclamationMarkLeft">|</span>
    {% for sitePage in site.pages %}
	    {% if sitePage.title %}
	    <a style="font-size:16px" class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
		    {% if sitePage.title != "Awards" %}
		    <span class="exclamationMark">|</span>
		    {% endif %}
	    {% endif %}
    {% endfor %}
    <span class="exclamationMarkRight">|</span>
  </div>
</div>
